.hero {
   background-image: url("../img/works/hero.jpg");
   background-color: #000;
   height: 500px;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   /* color: #000; */
 }
.ps-block span{
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  border-radius: 100%;
  border: 1px solid #e8e8e8;
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  line-height: 100px;
  margin: 0 0 20px 0;
  color: #6a6a8e;
  border-radius: 68% 32% 64% 36% / 59% 59% 41% 41%;
  background: #f5f5ff;
}
.ps-block h3{margin-bottom: 20px;}
.ps-block p{ font-size: 16px; line-height: 28px;}
.ps-block{ padding: 0 25px;}
.image-block1 img{  width:100%;}
.image-block1{
  -webkit-box-shadow: -20px 20px 35px #dcdcdc, 20px -40px 35px #ffffff;
  box-shadow: -20px 20px 35px #dcdcdc, 20px -40px 35px #ffffff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.center{
  margin: auto;
}
